.aboutPage {
    position: relative;
    /* padding-inline: 100px; */
}

.meAbout {
    position: absolute;
    top: 0;
    right: 10px;
    width: 20vw;
    height: 60vh;
    min-width: 370px;
    min-height: 490px;
}

.intro {
    display: flex;
    margin-bottom: 310px;
}

.introText {
    flex: 2;
    max-width: 540px;
}

.introText h1 {
    margin: 230px 0 10px 0;
}

.mePicContainer {
    position: relative;
    flex: 3;
}

#education h1 {
    margin: 50px 0 70px 0;
}

.edTimeline {
    margin: 0 auto;
}


.MuiTimelineItem-root:first-of-type::before {
    content: none !important;
}

.MuiTimelineContent-root {
    margin-top: -10px !important;
}

#hobbies {
    margin-block: 150px;
}

#hobbies .hobbiesIntro {
    display: flex;
    align-items: flex-start;
    column-gap: 150px;
}

#hobbies .hobbiesIntro p {
    width: 50%;
    max-width: 700px;
    margin: 0;
}

#hobbies .hobbiesIntro h1,
#hobbies .hobbiesIntro p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    /* Slightly increased for readability */
}

.hobbyPics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    column-gap: 39px;
    margin: 20 auto;
}

#dance img {
    margin-top: 70px;
    width: 305px;
    height: 305px;
}

#dance h3 {
    margin-top: 30px;
}

#piano img {
    width: 420px;
    height: 420px;
}

#piano h3 {
    margin-top: -15px;
}

#biking img {
    margin-top: 10px;
    width: 370px;
    height: 370px;
}

#biking h3 {
    margin-top: 25px;
}

.hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}